<div class="card">
  <% @posts.each do |post| %>
    <h2><%=link_to post.title, post_path(post)%></h2>
    <h5><%=post.created_at.strftime("%e %b %Y")%></h5>
    <p><%=truncate post.body, length: 160 %></p>
    <%= link_to 'read more', post_path(post) %>
  <% end %>
</div>
